.nav a{
  color: white;
}

.circle{
  width: 40px !important;
  height: 40px !important;
  background-color: white !important;
  border-radius: 50%;
}
.circle img{
  width: 100% !important;
}

/* h1{
  font-weight: bolder;
} */

.form{

  position: relative;
}

td{
  border: '5px solid black';
}

.button-floating{
  position: fixed;
  bottom: 20px;
  right: 50px;
  background-color: #00B407;
  border-radius: 20px;
}
